.sideIncome{
    padding: 1.5rem;
    background-color: lightblue;
    top: 0;
}
.sideIncome h1{
    text-transform: uppercase;
    color: green;
}
.sideIncome img{
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
    transition: all .2s;
}
.sideIncome img:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.2rem);
}