.remove-btn {
  margin-right: 1rem;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/* Navbar starts */

.nav-link {
  color: white;
}
.nav-link:hover {
  color: wheat;
}
.first-nav {
  margin-left: 18rem;
}

/* Navbar ends */

/* hero-section starts */

.carousel-item {
  max-height: 30rem;
  margin: 0;
}

/* hero-section ends */
